/* colors */

:root {
  --background: #202124;
  --button: #333438;
  --text-first: #e8eaed;
  --text-second: #969BA1;
  --text-third: #bdc1c6;
  --link: #8ab4f8;
  --visited: #c58af9;;
}

/* general */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--background);
}
 
a {
  color: var(--link);
}

/* header */

header {
  border-bottom: 1px solid var(--text-second);
}

#input-box {
  padding-top: 26px;
  padding-bottom: 12px;  
}

#input-box img {
  width: 92px;
  position: absolute;
  top: 36px;
  left: 24px;
}

#input-box form {
  display: inline-block;
  position: relative;
}

#input-box form input {
  height: 46px;
  border-radius: 23px;
  border: none;
  outline: none;
  width: 650px;
  padding: 0 21px;
  margin-left: 160px;
  font-size: 16px;
  color: var(--text-first);
  background-color: var(--button);
}

#input-box ::placeholder {
  color: var(--text-second);
}

#cross-icon, #keyboard-icon, #mic-icon, #search-icon  {
  position: absolute;
  top: 14px;
  font-size: 18px;
  color: var(--text-second);
  cursor: pointer;
}

#cross-icon {
  right: 132px;
}

#keyboard-icon {
  right: 88px;
}

#mic-icon {
  right: 53px;
}

#search-icon {
  right: 18px;
}

#separator {
  position: absolute;
  top: -8px;
  right: 120px;
  width: 1px;
  height: 26px;
  background-color: var(--text-second);
}

#links-list {
  list-style: none;
  padding-left: 0;
  margin-left: 180px;
  margin-bottom: 0;
}

#links-list li {
  display: inline-block;
  padding: 0 11px;
}

#links-list li a {
  color: var(--text-second);
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 12px;
  display: inline-block;
}

#links-list li span {
  font-size: 16px;
  display: inline-block;
  margin-right: 3px;
}

.active-link {
  border-bottom: 3px solid var(--link);
}

#links-list .active-link a {
  color: var(--link);
}

.tools {
  margin-left: 100px;
}

/* container */

.container {
  display: flex;
  flex-direction: row;
  padding-left: 180px;
  padding-right: 70px;
  margin-bottom: 40px;
}

main {
  flex: 2 1 0;
  padding-right: 35px;
}

aside {
  flex: 1 1 0;
  min-width: 460px;
  margin-top: 50px;
  position: relative;
}

/* main */

#results {
  color: var(--text-third);
  font-size: 14px;
  margin-bottom: 5px;
}

.search-result-box {
  margin-bottom: 10px;
}

.container .ref-link {
  display: inline-block;
  font-size: 12px;
  color: var(--text-third);
  text-decoration: none;
  margin-bottom: 8px;
  margin-top: 15px;
  position: relative;
  width: auto;
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--text-third);
  position: absolute;
  top: 6px;
  right: -15px;
}

.main-link {
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.main-link:hover {
  text-decoration: underline;
}

.search-result-desc {
  font-size: 14px;
  color: var(--text-third);
  line-height: 1.57;
  margin: 5px 0;
}

.info-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.info {
  flex: 1 1 1;
  width: 50%;
  color: var(--text-third);
  font-size: 14px;
  margin: 5px 0;
}

.info-title {
  font-weight: bold;
}

.related-results ul {
  list-style: none;
  padding-left: 0;
  margin: 5px 0;
}

.related-results li {
  display: inline-block;
}

.related-results li a {
  font-size: 14px;
  text-decoration: none;
}

/* aside gallery */

#gallery-box {
  height: 186px;
  position: relative;
}

#first-img {
  border-top-left-radius: 10px;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 311px;
  height: 186px;
  position: absolute;
  top: 0;
  left: 149px;
}

#gallery div {
  flex: 1 1 30%;
  height: 50%;
  background-size: cover;
  background-position: center;
}

#gallery-img1 {
  background-image: url('../img/turing2.jpg');
}

#gallery-img2 {
  background-image: url('../img/turing3.jpg');
}

#gallery-img3 {
  background-image: url('../img/turing4.jpg');
  border-top-right-radius: 10px;
}

#gallery-img4 {
  background-image: url('../img/turing5.jpg');
}

#gallery-img5 {
  background-image: url('../img/turing6.jpg');
}

#gallery-img6 {
  background-image: url('../img/turing7.jpg');
}

#more-image {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 13px;
  color: var(--text-first);
  background: rgba(0,0,0,.6);
  text-decoration: none;
  border-top-left-radius: 5px;
}

#more-image span {
  margin-right: 5px;
}

/* aside info */

#about-box {
  border: 1px solid var(--text-second);
}

#name-box {
  border-bottom: 1px solid var(--text-second);
  padding: 0 15px;
}

#name {
  font-size: 26px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 10px;
  color: var(--text-first);
}

#role {
  color: var(--text-third);
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  color: var(--text-third);
  line-height: 1.57;
  padding: 0 15px;
}

.about-text a {
  color: var(--visited);
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
}

.about-text span {
  font-weight: bold;
}
